.footerMain {
    background-color: #0B0D17;
    display: flex;
    height: 220px;
    color: white;
    justify-content: space-around;


}

.footerFirst {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.footerDownAndLicense {
    display: flex;
    gap: 20px;

}

.footerFeatures {
    display: flex;
    gap: 15px;
}

.appLink {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.appleLink {
    display: flex;
    border: 1px solid white;
    height: 60px;
    width: 150px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;

}

.appLogo img {
    width: 25px;
    height: 25px;
}

.appText h6 {
    margin-bottom: 0;

    user-select: none;
}

.appText h3 {
    margin-top: 0;
    user-select: none;
}

.playStoreLink {
    display: flex;
    border: 1px solid white;
    height: 60px;
    width: 150px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
}

.playStoreLogo img {
    padding-left: 5px;
    width: 25px;
    height: 25px;
}

.playStoreText h6 {
    margin-bottom: 0;
    user-select: none;
}

.playStoreText h3 {
    margin-top: 0;
    user-select: none;
}