/* container of left and right column */
.parentDiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;
}

/* defining width of left column. */
.leftItems {
    width: 65%;
}

/* address container. */
.addressDiv {
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    padding: 12px 22px;
    margin-bottom: 12px;
}

/* select tag. */
.selectList>select {
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 300;
    font-size: 18px;
    color: rgba(6, 1, 77, 0.7);
    border-radius: 12px;
}

/* zitu jane. */
.parent {
    display: flex;
    justify-content: space-evenly;
}

/* shoped item container. */
.cartContainer {
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    padding: 12px 22px;
    margin-bottom: 12px;
    margin-top: 20px;
}

/* single shop item. */
.innerDivparent {
    box-sizing: border-box;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
}

/* cancel button. */
.innerDivparent .cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 0;
    background-color: white;
    box-shadow: 1px 1px 3px 4px rgb(230, 225, 225);
    color: red;
    padding: 5px 8px;
}

/* changin design when clicked. */
.innerDivparent .cancel:active {
    box-shadow: 0px 1px 0px 0px rgb(230, 225, 225);

}

/* details of product. */
.innerDivWrite {
    margin-left: 20px;
}

/* title of the product. */
.innerDivWrite h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    margin-top: 9px;
}

/* product image. */
.innerDivparent img {
    margin: 5px;
    border-radius: 8px;
    width: 150px;
    height: 130px;
}

.cartTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* right column */
.SideDiv {
    box-sizing: border-box;
    padding: 12px 25px 12px 12px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 600;
}

.SideDiv h2 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.SideDiv div {
    margin-bottom: 9px;
}

.SideDiv span {
    font-weight: 400;
}

/* place order button */
.orderbtn {
    padding: 10px 24px;
    color: #FFFFFF;
    font-size: 19px;
    background: #E76F51;
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: 1px 1px 3px 3px rgb(214, 214, 214);
    transition: background .3s ease-in;
}

.orderbtn:hover {
    background: #ff3300;
}

.orderbtn:active {
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255);
}