/* review */
.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review {
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px grey;
    border-radius: 12px;
    padding: 10px;
}

.name {
    font-weight: 300;
    font-size: 16px;
}

.hl {
    font-size: 20px;
    font-weight: 500;

}

.msg {
    font-size: 14px;
}

.cmnt button {
    padding: 12px 15px;
    font-size: 16px;
    border: 0;
    box-shadow: 1px 1px 3px 3px rgb(199, 199, 199);
}

.cmnt button:active {
    box-shadow: 0px 0px 1px 1px rgb(199, 199, 199);
}

.cmnt h3 {
    margin: 0px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
}

/* like dislike */
.likeDislike {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.like {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-top: 15px;
}